/* === Sign in Form === */
.signin {
  height: 140px;
  width: 300px;
  border-radius: 8px;
  position: relative;
}
.signin::before {
  display: block;
  position: relative;
  height: 2px;
  background: rgb(52, 56, 61);
  content: "";
  top: 122px;
  margin-left: 20px;
  z-index: 1;
}
.signin .field:first-of-type {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.signin .field:last-of-type {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.signin .field,
.signin button[type="submit"] {
  background: rgb(28, 30, 33);
  box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
  color: rgb(52, 56, 61);
}
.signin .field {
  position: relative;
  display: block;
  width: 280px;
  height: 45px;
  border: 0;
  outline: 0;
  top: -2px;
  padding: 0 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  color: #afa3a3;
}

.field:hover {
  color: rgb(255, 255, 255);
}

.field:focus {
  color: rgb(255, 255, 255);
}
.signin .field::placeholder {
  font-family: FontAwesome;
  color: rgb(144, 148, 150);
}
.signin button {
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  color: rgb(52, 56, 61);
  border-radius: 50px;
  outline: 0;
  z-index: 2;
  top: 95px;
  right: -24px;
  border: 6px solid rgb(52, 56, 61);
  font-size: 25px;
  text-indent: 0px;
  padding-left: 9px;
  padding-top: 9px;
  text-align: center;
  align-items: center;
}
.icon {
  color: rgb(52, 56, 61);
}
.signin button:hover {
  /* color: rgb(0, 126, 165); */
  text-shadow: 0 0 10px rgb(0, 126, 165);
  cursor: pointer;
}
.signin button:hover .icon {
  color: rgb(0, 126, 165);
}
.signin .question {
  color: rgb(79, 85, 97);
  padding: 0 20px;
  font-weight: 700;
  font-size: 16px;
  margin: 5px 0 0 0;
}
.signin .question > a {
  color: rgb(111, 119, 135);
  text-decoration: none;
}
.signin .question > a:hover {
  border-bottom: 1px solid;
}
.signin .error {
  margin-top: 0;
  margin-bottom: 2px;
  padding-left: 20px;
  color: red;
  font-size: 12px;
  line-height: 0.9;
  font-style: italic;
}
