body {
  padding-top: 5px;
  background-color: #f0eafa;
  font-family: sans-serif;
  line-height: 1.5;
  color: darkgray;
  margin: 0;
}

.container {
  height: 100vh;
  margin: 0 auto;
  background: rgb(52, 56, 61);
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 10px;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 16px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 5px 40px;
  }
}

button {
  border-radius: 8px;
  border: 1px solid #aebbc7;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #aebbc7;
  cursor: pointer;
  height: 30px;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: rgb(198, 206, 198);
  color: #000;
}

p {
  font-size: 16px;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
