.box {
  width: 370px;
  height: 400px;
  border: 6px solid #000;
  border-radius: 10px;
}
.imgCard {
  min-width: 370px;
  height: 400px;
  display: block;
  object-fit: cover;
  overflow: hidden;
}
